pandas==2.0.3
numpy==1.24.4
plotly==5.16.1
streamlit==1.27.2
streamlit-folium==0.15.0
folium==0.14.0
matplotlib
scipy == 1.6.2
json5==0.9.5
scikit-learn==0.24.1
scikit-image==0.18.1
sklearn==0.0.post11
threadpoolctl == 2.0.0
joblib ==1.0.1
